---
import NavBar from '../components/navigation/NavBar';
---

<html lang='en'>
<head>
  <meta charset='utf-8' />
  <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
  <meta name='viewport' content='width=device-width' />
  <meta name='generator' content={Astro.generator} />
  <title>About</title>
</head>
<body class="bg-[#1E1E1E]">
<h1>About Us</h1>
<NavBar client:only="react" />
<p>This is the about page content.</p>
</body>
</html>