---
import Main from '../layouts/Main.astro';
import CarouselComponent from '../components/CarouselComponent';

// import fetchApi from '../lib/strapi';
// import type { MemberComment } from 'src/types/types';
import MarkdownArticle from 'src/components/MarkdownArticle';
import InstagramFeed from 'src/components/InstagramFeed';

const markdown = `
# Otaniemi Fight Club

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus congue, lorem ac convallis vulputate, nibh arcu consequat nunc, sit amet luctus tellus velit sit amet nulla. Morbi gravida mauris accumsan egestas rutrum. Donec ac augue viverra, suscipit justo id, efficitur turpis. Donec risus erat, efficitur non commodo eget, consequat quis est. Donec volutpat erat ut felis tincidunt posuere vulputate vel nisi.

JOIN THE <a href="https://t.me/+zR_51AMzJUc1NmFk" target="_blank">TELEGRAM GROUP</a>
`;

// const memberComments =
//   (await fetchApi<MemberComment[]>({
//     endpoint: 'member-comments',
//     wrappedByKey: 'data'
//   })) ?? [];
---

<Main>
  <MarkdownArticle markdown={markdown} />
  <hr />
  <h2>Comments from our members</h2>
  <CarouselComponent client:only='react' />
  <hr />
  <InstagramFeed />
</Main>
