---
import Main from '../layouts/Main.astro';
import NavBar from '../components/navigation/NavBar';
import CarouselComponent from '../components/CarouselComponent';
import fetchApi from '../lib/strapi';
import type { MemberComment } from 'src/types/types';
const memberComments =
  (await fetchApi<MemberComment[]>({
    endpoint: 'member-comments',
    wrappedByKey: 'data'
  })) ?? [];
---
<Main>
    <NavBar client:only='react' />
    <h1>This is the Home page</h1>
    <CarouselComponent client:only='react' />
   {
      memberComments.map(memberComment => (
        <div>
          <h1>{memberComment.name}</h1>
          <p>{memberComment.comment}</p>
        </div>
      ))
    }
</Main>