---
import Main from '../layouts/Main.astro';
---

<Main>
  <p>This is the Trainings page</p>
  <div class='card bg-red w-80 shadow-xl m-10'>
    <figure class='px-10 pt-10'>
      <img
        src='https://www.ristikaksi.com/wp-content/uploads/2024/07/judo-olympialaisissa.jpg'
        alt='Shoes'
        class='rounded-xl'
      />
    </figure>
    <div class='card-body items-center text-center'>
      <h2 class='card-title'>Judo</h2>
      <p>
        Judo isn’t just about brute strength—it’s a smart, tactical art where you let your opponent do the work. Born in
        Japan, it’s all about flipping, throwing, and grappling with ninja-like finesse. The goal? Toss or pin your
        opponent to the ground, all while staying calm and looking cool.
      </p>
      <div class='card-actions'></div>
    </div>
  </div>
</Main>
